{{#with data}}
  <div class='card'>
    <div
      class='card_image'
      style='background-image: url({{img}});'
    ></div>
    <h2 class='card_title'>{{title}}</h2>
    <div class='card_text'>{{text}}</div>
    <a
      href='{{href}}'
      class='button card_button'
    >{{button}}</a>
  </div>
{{/with}}