{{#with data}}
  <div class='featured_post'>
    <img
      class='featured_image'
      src='{{photo}}'
      alt='Featured photo'
    />
    <h2 class='featured_title'>{{heading}}</h2>
    <p class='featured_info'>{{info}}</p>
    <a
      class='featured-link'
      href='{{linkUrl}}'
    >{{linkText}}</a>
  </div>
{{/with}}